{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form 'SyliusUiBundle:Form:theme.html.twig' %}

{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}

{% block content %}
    {% include '@SyliusShop/Login/_header.html.twig' %}
    <div class="ui padded segment">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium deleniti ducimus eaque fugit hic inventore, ipsa itaque iure laudantium nesciunt obcaecati odit officia placeat possimus quisquam ullam voluptatum!</h1>
        <div class="ui one column very relaxed stackable grid">
            <div class="column">
                <h4 class="ui dividing header">{{ 'sylius.ui.registered_customers'|trans }}</h4>
                <p>{{ 'sylius.ui.if_you_have_an_account_sign_in_with_your_email_address'|trans }}.</p>
                {{ form_start(form, {'action': path('sylius_shop_login_check'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
                {% include '@SyliusShop/Login/_form.html.twig' %}
                <button type="submit" class="ui blue submit button">{{ 'sylius.ui.login'|trans }}</button>
                <a href="{{ path('sylius_shop_request_password_reset_token') }}" class="ui right floated button">{{ 'sylius.ui.forgot_password'|trans }}</a>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
